# $schema: http://json.schemastore.org/github-workflow.json
name: main

on:
  push:
    branches:
      - main
  workflow_dispatch: {}

jobs:
  verify-github-workflows:
    uses: harmelodic/workflows/.github/workflows/verify-github-workflows.yaml@6ff29d6786e912eb3f89292d401be69e7d3b1f3b

  verify-rego-policy:
    uses: harmelodic/workflows/.github/workflows/verify-rego-policy.yaml@6ff29d6786e912eb3f89292d401be69e7d3b1f3b

  yamllint-cases:
    permissions:
      contents: 'read'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6
      - run: yamllint cases .yamllint.yaml
