# $schema: http://json.schemastore.org/github-workflow.json
name: main

on:
  push:
    branches:
      - main
  workflow_dispatch: {}

jobs:
  verify-github-workflows:
    uses: harmelodic/workflows/.github/workflows/verify-github-workflows.yaml@dd3c524b3f9f0f21d3c19962ba52ba58d835bfda

  verify-rego-policy:
    uses: harmelodic/workflows/.github/workflows/verify-rego-policy.yaml@dd3c524b3f9f0f21d3c19962ba52ba58d835bfda

  yamllint-cases:
    permissions:
      contents: 'read'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6
      - run: yamllint cases .yamllint.yaml
